body{
    background-image: url("https://www.xtrafondos.com/descargar.php?id=6345&resolucion=2560x1440");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
    width: 1905px;
}
